fastapi
uvicorn
sqlalchemy
pydantic
psycopg2-binary
psycopg2
pandas
crewai
crewai[tools]
email-validator
asyncpg  
openai
langchain_community
numpy
matplotlib
requests
litellm
embedchain[postgres]
ollama